<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatroom</title>
</head>
<body style="border: dotted black 2px; padding: 10px;margin: 20px;padding-bottom: 30px;">
    <div><h1 style="text-align: center;background-color: lavender;">welcome</h1>
    <div align="center" >
        <a href='accounts/register' style="border:solid black;padding: 10px;margin: 10px;background-color: lavender;">register</a><br><br><br>
        <a style="border:solid black;padding: 10px;margin: 10px;background-color: lavender;" href="accounts/login">login</a>
    </div>
        <div style="text-align:center;">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}

        </div>
</body>
</html>